/*
    Document   : app/styles/main/_livit.scss
    Created on : 2015-02-26 03:23 AM
    Author     : yaboi
    Description: Custom styles for Passion Driven Portfolio:livit.html
*/

//== Custom livit.html Styling
//
//##

.video-container {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    .video-content {
        padding-top: 7%;
        text-align: center;
        width: auto;
        
        button.close {
            background: #333;
            border-radius: 20px;
            color: white;
            border: 2px solid white;
            z-index: 10;
            cursor: pointer;
            outline: 0;
            text-shadow: none;
            font-size: 14px;
            padding: 10px;
            text-align: center;
            opacity: .9;
            
            &:hover {
                background: #000;
            }
        }
        
        iframe {
            height: 338px;
        }
        
        @media (min-width: $screen-sm-min) { 
            iframe {
                height: 405px;
            }
        }
        
        @media (min-width: $screen-md-min) { 
            iframe {
                height: 535px;
            }
        }   
    }
}

.video-thumb img {
    
    @include box-shadow(0px 10px 50px 10px rgba(0,0,0,0.15));
    
    cursor: pointer;
}

/* Small devices */
@media (min-width: $screen-sm-min) {
    
}

/* Medium devices */
@media (min-width: $screen-md-min) { 
    iframe {
        height: 400px;
    }
}

/* Large devices */
@media (min-width: $screen-lg-min) { 
    iframe {
        height: 600px;
    }
}