<div class="developer" data-ng-controller="DeveloperController">
    <section data-ng-class="jumbotronBackgroundColor">
        <div class="jumbotron text-center">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 data-fittext=".9" data-fittext-max="62px">I'm A <span class="hidden-xs">Front-End</span> Developer</h1>
                        <p>an I practice <a href="http://gyshido.com/" target="_blank">The Art of Getting Your Shit Done</a> while building kickass web apps, websites, and products.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="experience padding-vertical-md">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="text-center">
                        <span data-fittext=".9" data-fittext-max="52px">Experience</span>
                    </h2>
                </div>
                <div class="col-xs-12 col-md-12 text-center">
                    <p class="lead">
                        In under 10 years, I evolved from an junior web developer to a seasoned front-end engineer, entrepreneur, product developer, and mentor.
                    </p>
                    <p class="lead">
                        I accompanied a startup through Y Combinator that raised a <a href="https://techcrunch.com/2015/04/30/campus-job-connecting-college-students-with-employers-raises-7-8-million-in-series-a/" target="_blank">$7.8M Series A</a>, graduated from 500 Startups with the <a href="http://blog.giftstarter.com/giftstarter-7th-fastest-growing-company-500-startups-batch-14/" target="_blank">7th fastest growing startup</a> in the batch, and founded or co-founded numerous businesses and products.
                    </p>
                </div>
            </div>
        </div>
    </section>
    
    <section class="padding-vertical-lg">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="text-center">
                        <span data-fittext=".9" data-fittext-max="52px">Projects</span>
                    </h2>
                </div>
            </div>
        </div>
        <!-- Move projects from controller to directve -->
        <!--<project url="test" thumbnail-src="images/developer/projects/writeon/logo.pn" title="test title" desc="test description" cta="test-cta" image-src="images/developer/projects/writeon/large.gif"></project>-->
        <div class="hero" ng-repeat="project in projects track by $index" ng-show="{{project.thumbnail.length > 0 || project.title.length > 0 || project.description.length > 0 || project.cta.text.length > 0 || project.image.length > 0}}">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 content" ng-show="{{project.thumbnail.length > 0 || project.title.length > 0 || project.description.length > 0 || project.cta.text.length > 0}}">
                        <a ng-href="{{project.url}}" target="_blank" class="thumbnail" ng-show="{{project.thumbnail.length > 0}}">
                            <img ng-src="{{project.thumbnail}}" alt="{{project.title}}">
                        </a>
                        <h3>{{project.title}}</h3>
                        <p>{{project.description}}</p>
                        <a ng-href="{{project.cta.url}}" target="_blank" class="btn" role="button">{{project.cta.text}}</a>
                    </div>
                    <div class="col-md-5 image" ng-show="{{project.image.length > 0}}">
                        <a ng-href="{{project.url}}" target="_blank" class="img-responsive">
                            <img ng-src="{{project.image}}" alt="{{project.title}}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="projects-recent padding-vertical-md">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h4>Recent Projects</h4>
                    <div class="project" ng-repeat="project in pastProjects track by $index">
                        <div class="thumbnail">
                            <img ng-src="{{project.image}}" target="_blank" alt="{{project.title}}">
                            <div class="caption">
                                <h5>{{project.title}}</h5>
                                <p>
                                    <a ng-href="{{project.cta.url}}" class="btn btn-sm" role="button">{{project.cta.text}}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="wheelhouse">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="text-center">
                        <span data-fittext=".9" data-fittext-max="52px">Wheelhouse</span>
                    </h2>
                    <div class="media" ng-repeat="skill in skills track by $index">
                        <div class="media-left" ng-show="{{skill.svg.length > 0 || skill.image.length > 0}}">
                            <img ng-src="{{skill.svg}}" alt="{{skill.title}}" ng-error="this.onerror=null; this.src='{{skill.image}}" />
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading" ng-show="{{skill.title.length > 0}}">
                                {{skill.title}}
                            </h4>
                            <p ng-show="{{skill.description.length > 0}}">
                                {{skill.description}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="open-source">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>
                        <span data-fittext=".9" data-fittext-max="40px">#OpenSourceEverything</span>
                    </h3>
                    <p>
                        "The future of intelligence is not secret, not federal, and not expensive. It is about transparency, truth, and trust among our local to global collective. Only 'open' is scalable." <small>- <a href="http://www.amazon.com/The-Open-Source-Everything-Manifesto-Transparency/dp/1583944435" target="_blank">Open-Source Everything Manifesto</a></small>
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>