<div data-ng-controller="ResumeController">
    <section class="jumbotron text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <h1 data-fittext=".9" data-fittext-max="62px">Front-End Developer</h1>
                    <p>
                        Cutting edge, full-stack <strong>Front-End Developer</strong> who likes to build software that solves real-world problems. Transforming ideas into beautiful, interactive, interfaces through the combination of Lean UX, customer validation, and <a href="http://gyshido.com" target="_blank">The Art of GyShiDo</a>.
                    </p>
                    <p>
                        Core technologies include:
                        <br />
                        <small ng-repeat="technology in technologies" class="text-muted">{{technology}}{{ $last ? '' : ' | '}}</small>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 text-center">
                    <div class="well">
                        <p>Would you like your very own copy of my resume?</p>
                        <a href="https://docs.google.com/document/d/1YTCd3m3nXaktTCzOhR9sNHNkDaMZmgi5hlEPBHGBZws/edit?usp=sharing" class="btn btn-wide btn-primary" target="_blank">Download It From Google Drive</a>
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 text-center">
                    <hr>
                    <div class="padding-top-sm">
                        <h2 data-fittext=".9" data-fittext-max="56px">Professional Experience</h2> 
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 padding-vertical-sm" ng-repeat="experience in experiences">
                    <h5>
                        {{experience.company}}
                        <span ng-if="experience.url">- <a href="http://{{experience.url}}" target="_blank">{{experience.url}}</a></span>
                        <br />
                        <small>{{experience.startDate}} - {{experience.endDate}}</small>
                    </h5>
                    <p>{{experience.description}}</p>
                    <p>
                        <strong>{{experience.title}}</strong>
                    </p>
                    <ul>
                        <li ng-repeat="detail in experience.details">
                            {{detail}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row padding-vertical-sm text-center">
                <div class="col-xs-10 col-xs-offset-1">
                    <hr>
                    <div class="padding-top-sm padding-bottom-xs">
                        <h2 data-fittext=".9" data-fittext-max="56px">Download This Resume</h2>
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
                    <div class="well">
                        <p>My resume, now in printed form!</p>
                        <a href="https://docs.google.com/document/d/1YTCd3m3nXaktTCzOhR9sNHNkDaMZmgi5hlEPBHGBZws/edit?usp=sharing" class="btn btn-wide btn-primary" target="_blank">Print A Copy From Google Drive</a>
                    </div>
                </div>
                <div class="col-xs-12">
                    <p>
                        <small>Or, contact me through one of the links below: </small>
                        <br />
                        <span ng-repeat="ci in contactInfo" class="text-muted">
                            <a ng-if="ci.url" href="{{ci.url}}" target="_blank">{{ci.name}}</a>
                            <span ng-if="!ci.url">{{ci.name}}</span>
                        {{$last ? '' : ' | '}}
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>